@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Kategori>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top:20px">

    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Kategori Adı</th>
        </tr>
        @foreach (var k in Model)
        {
            <tr>
                <td>@k.KategoriID</td>
                <td>@k.KategoriAd</td>
            </tr>
        }
    </table>


    <button class="btn btn-primary">Yeni Kategori</button>
</div>
