@model MvcOnlineTicariOtomasyon.Models.Siniflar.Kategori
@{
    ViewData["Title"] = "Kategori Getir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Kategori Güncelleme</h2>
<br />
@using(Html.BeginForm("KategoriGuncelle","Home",FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x=>x.KategoriAd)
        @Html.TextBoxFor(x=>x.KategoriAd, new {@class = "form-control"})
        @Html.HiddenFor(x=>x.KategoriID)
    </div>
    <br />
    <button class="btn btn-warning"> Güncelle </button>
}