@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Kategori>
@{
    ViewData["Title"] = "Kategori";
}

<div class="text-center" style="margin-top:20px">
    @if (Model != null && Model.Count > 0)
    {
        <table class="table table-bordered">
            <tr>
                <th>ID</th>
                <th>Kategori Adı</th>
                <th>Sil</th>
                <th>Güncelle</th>
            </tr>
            @foreach (var k in Model)
            {
                <tr>
                    <td>@k.KategoriID</td>
                    <td>@k.KategoriAd</td>
                    <td> <a href="/Kategori/KategoriSil/@k.KategoriID" class="btn btn-danger">Sil</a> </td>
                    <td> <a href="/Kategori/KategoriGetir/@k.KategoriID" class="btn btn-success">Güncelle</a></td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>No categories found.</p>
    }

    <a href="/Kategori/KategoriEkle" class="btn btn-primary"> Kategori Ekle  </a>
</div>
